.page-container {
  display: flex;
  justify-content: center;
}

.page-container .content {
  width: 100%;
  max-width: 600px;
}

.cards-list > * {
  margin-bottom: 12px;
}

.tasks-list-control {
  margin-bottom: 12px;
}
