@import url('non.geist');

body {
  font-family: 'Geist Variable';
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  background-color: #3C6E71; 
  cursor: pointer;
}

.page-container {
  display: flex;
  justify-content: center;
}

.page-container .content {
  width: 100%;
  max-width: 600px;
  padding: 8px;
}

.cards-list > * {
  margin-bottom: 12px;
}

.horizontal-items-space > * {
  margin-right: 12px;
}

.list-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
