.page-container {
  display: flex;
  justify-content: center;
}

.page-container .content {
  width: 100%;
  max-width: 600px;
}

.cards-list > * {
  margin-bottom: 12px;
}

.horizontal-items-space > * {
  margin-right: 12px;
}

.list-control {
  margin-bottom: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}
